<!DOCTYPE html>
<html>

<style>
  /* Style the progress bar container */
  .progress {
    width: 0%;
    background-color: #ddd;
    height: 20px;
    border-radius: 20px;
    margin: 2% auto; /* Center the progress bar horizontally */
  }

  /* Style the progress bar */
  .progress-bar {
    height: 100%;
    background-color: #4caf50;
    border-radius: 20px;
  }

  /* Style the text */
  .progress-text {
    text-align: center;
    font-size: 16px;
    color: #333;
  }
</style>
<div>
<form style="text-align: center;" action="/result/" method="post">
    {% csrf_token %}
    <label for="url">Enter URL: </label>
    <input id="url" type="text" name="url" value="{{ current_name }}">
    <input type="submit" value="OK">
</form>
</div>

<div class="progress">
  <div class="progress-bar" style="width: 70%"></div>
<div class="progress-text"></div>
</div>
</html>