<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href=" {% static 'mysite/style.css' %}">
</head>


<body>

<div>
<form style="text-align: center;" action="/result/" method="post">
    {% csrf_token %}
    <label for="url">Enter URL: </label>
    <input id="url" type="text" name="url" value="{{ current_name }}">
    <input type="submit" value="OK">
</form>
</div>

<div class="progress">
  <div class="progress-bar" style="width: {{result}}%"></div>
<div class="progress-text">
    <h3>{{ result }}% probability that it's the original image</h3>
</div>
</div>

</body>
</html>